<a href="https://colab.research.google.com/github/jeanmcorreia/Python/blob/main/1_Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comentários e Metódo Print

In [ ]:
# isto é um comentário
# isto é outro comentário
print('Olá mundo!') # isto é um comentário

Olá mundo!

In [ ]:
''' Este é um comentário
o comentário continua aqui
aqui ainda continua
e aqui termina '''

' Este é um comentário \no comentário continua aqui\naqui ainda continua\ne aqui termina '

In [ ]:
print('Olá mundo!')
print(20)
print(20.5)

Olá mundo!
20
20.5

In [ ]:
print("Maçã", 20, 30.45)

Maçã 20 30.45

In [ ]:
print("Maçã", "Pera", "Uva", sep=' - ')

Maçã - Pera - Uva

In [ ]:
print("Maçã","Pera", end = ' Fim', sep=' ')

Maçã Pera Fim

In [ ]:
print("Este é um texto longo, \n eu quero quebrar a linha")

Este é um texto longo,
 eu quero quebrar a linha

In [ ]:
print("Maçã", "Pera", sep='\n')

Maçã
Pera

In [ ]:
print("A pontuacao total de %s foi %s pontos" % ("Fernando", "10") )

A pontuacao total de Fernando foi 10 pontos

In [ ]:
print("A pontuacao total de {} foi {} pontos".format("Fernando", "10"))

A pontuacao total de Fernando foi 10 pontos

In [ ]:
print("A pontuacao total de" + " Fernando" + " foi" + " 10 " + "pontos")

A pontuacao total de Fernando foi 10 pontos

## Atividades de Metódo Print

In [ ]:
#1 - Realize o print do seu nome completo, sua idade e sua
# altura utilizando um print para cada valor.

In [ ]:
print("Jean Marcos Correia")
print(20)
print(1.70)

Jean Marcos Correia
20
1.7

In [ ]:
#2 - Realize o print do seu nome completo, sua idade e sua altura
# utilizando apenas um print para todos valores.

In [ ]:
print("Nome: {}, idade: {}, altura: {}".format("Fernando", 20, 1.70))

Nome: Fernando, idade: 20, altura: 1.7

In [ ]:
#3 - Realize o print de 3 números de sua escolha
# em um mesmo print, mas separados pelo caractere '-'.

In [ ]:
print(1,2,3, sep="-")

1-2-3

# Variáveis

In [ ]:
_numero = 1
Numero = 2
numero = 3
numero123 = 4
print(_numero, Numero, numero, numero123)

1 2 3 4

In [ ]:
numero = 10
print(numero)
numero = 20
print(numero)

10
30

In [ ]:
texto = 'Olá mundo!'
print(texto)

Olá mundo!

# Tipos Primitivos

In [ ]:
variavel = None
print(variavel)

None

In [ ]:
inteiro = 10
print(inteiro)

10

In [ ]:
decimal = 1.53
print(decimal)

1.53

In [ ]:
texto = "Olá, isto é um texto"
print(texto)

Olá, isto é um texto

In [ ]:
var = True
print(var)
var = False
print(var)

True
False

In [ ]:
var1 = 10
var2 = var1
print(var2)

10

In [ ]:
var = None
print(var)
var = 1
print(var)
var = "Texto"
print(var)

None
1
Texto

In [ ]:
saldoBancario = 100
SaldoBancario = 100
saldo_bancario = 100

## Atividade de Variáveis

In [ ]:
#1 - Crie uma variável de cada tipo e ponha alguma valor
# escolhido. Em seguida, printe todos esses valores.

In [1]:
inteiro = 1
print(inteiro)
decimal = 1.5
print(decimal)
string = "Olá mundo"
print(string)
booleana = True
print(booleana)

1
1.5
Olá mundo
True

In [ ]:
#2 - Cria variáveis para guardar seu nome, CPF e uma que indique se você esta
# casado, em seguida printe esses valores separadamente, mas
# não esqueça de printar junto o que eles significam.

In [3]:
nome = "Jean"
cpf = "000.000.000-12"
casado = False

print("Nome: ",(nome))
print("CPF: ",(cpf))
print("Casado? ",(casado))

Nome:  Jean
CPF:  000.000.000-12
Casado?  False

# Formatação

In [ ]:
# %s - texto
# %d - inteiro
# %f - real

In [5]:
nome = "Ana"
texto_formatado = "O nome dela é %s " % (nome)
print(texto_formatado)

O nome dela é Ana

In [6]:
nome = "Rodrigo"
idade = 23
altura = 1.73
texto = "Meu nome é %s. Tenho %d anos e tenho %f metros de altura" % (nome, idade, altura)
print(texto)

Meu nome é Rodrigo. Tenho 23 anos e tenho 1.730000 metros de altura

In [14]:
numero_gigante = 1.123456789
print("Numero gigante formatado: %.2f" % (numero_gigante))

Numero gigante formatado: 1.12

In [12]:
valor = False
print("O valor é %s" % (valor))
print("O valor é %d" % (valor))

O valor é False
O valor é 0

In [16]:
decimal = 23.4566
print("A parte inteira é %d" % (decimal))

A parte inteira é 23

In [20]:
texto = "Olá, assim se quebra uma linha,\n\tentendeu como quebra a linha?\n\t\tFim"
print(texto)

Olá, assim se quebra uma linha,
	entendeu como quebra a linha?
		Fim

In [23]:
texto = 'Deixa a \'Palavra\' entre aspas'
print(texto)

Deixa a 'Palavra' entre aspas

## Atividades de Formatação

In [ ]:
#1 - Escreva e formate a data em que você nasceu no formato
# dia/mês/ano. Não esqueça de criar 3 variáveis para guardar o dia,
# mês e ano.
# Exemplo de saída:
# Eu nasci em 30/9/1998

In [31]:
dia, mes, ano = 4, 12, 1980
texto = "Eu nasci em %d/%d/%d" % (dia, mes, ano)
print(texto)

Eu nasci em 4/12/1980

In [ ]:
#2 - Escreva e formate a hora e minuto atual. Não esqueça de criar
# duas variáveis para guardar a hora e minuto.
# Exemplo de saída:
# Agora são 22 horas e 37 minutos

In [34]:
horas = 22
minutos = 37
print("Agora são %d horas e %d minutos" % (horas, minutos))

Agora são 22 horas e 37 minutos

In [ ]:
#3 - Escreva um programa que contêm o número PI, que deve ter o
# valor exato de 3.14159265359. Agora formate esse número para ter
# apenas cinco casas decimais.
# Exemplo de saída:
# O PI é 3.14159

In [28]:
numero_pi = 3.14159265359
texto = "O PI é %.5f" % (numero_pi)
print(texto)

O PI é 3.14159

# Operadores Aritméticos

In [35]:
print(10 + 20)

30

In [36]:
numero = 10 + 10.5
print(numero)

20.5

In [37]:
outro_numero = 30 + numero
print(outro_numero)

50.5

In [38]:
numero = 20 - 10
print(numero)

10

In [39]:
numero = 10 * 2
print(numero)

20

In [40]:
numero = 10 / 3
print(numero)

3.3333333333333335

In [41]:
numero = 10 // 3
print(numero)

3

In [43]:
numero = 2 ** 4
print(numero)

16

In [46]:
numero = 4 % 3
print(numero)

1

In [47]:
nume1 = 10 * 2 + 1
print(nume1)

21

In [48]:
nume1 = 10 * (2+1)
print(nume1)

30

In [49]:
nume1 = 3 * 3 - 9
print(nume1)

0

In [50]:
nume1 = 3 * (3 - 9)
print(nume1)

-18

In [52]:
nume1 = 20
nume2 = 40
nume3 = 60
resultado = nume1 + nume2 + nume3
print(resultado)

120

In [53]:
resultado = resultado * 2
print(resultado)

240

In [55]:
a = 1
a+=1
print(a)

2