<a href="https://colab.research.google.com/github/jeanmcorreia/Python/blob/main/4_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [ ]:
array = []
array = list()

array_numeros = [1,2,3]
array_floats = [5.3, -2.2, 0.5]
array_str = ["a", "b", "c"]
array_misto = [2,2.3,"abc"]
print(array)
print(array_numeros)
print(array_floats)
print(array_str)
print(array_misto)

[]
[1, 2, 3]
[5.3, -2.2, 0.5]
['a', 'b', 'c']
[2, 2.3, 'abc']

In [ ]:
color = [1,2,
         3,
         4,5]
print(color)

[1, 2, 3, 4, 5]

In [ ]:
array = list([1,2,3])
print(array)
primeiro_elemento = array[0]
print(primeiro_elemento)
array[0] = 20
primeiro_elemento = array[0]
print(primeiro_elemento)
print(array[-1])
print(array)

[1, 2, 3]
1
20
3
[20, 2, 3]

In [ ]:
array = [1, "texto", 3]
print(array[1:3])

['texto', 3]

In [ ]:
array = [10, 2, 3]
print(array)
array.append(2)
print(array)
array.insert(2, "4")
print(array)

[10, 2, 3]
[10, 2, 3, 2]
[10, 2, '4', 3, 2]

In [ ]:
array = [10, 2, 3, 20, "3"]
array.remove(10)
print(array)
array.pop(2)
print(array)

[2, 3, 20, '3']
[2, 3, '3']

In [ ]:
print(len(array))

3

In [ ]:
array.clear()
print(array)

[]

In [ ]:
array = [1, 'texto', 1.3, True]
print(1 in array)
print(False not in array)

True
True

In [ ]:
lista = [5, 6, 7, 2, 3, 4, 7]
teste = lista.count(7)
print(teste)

2

In [ ]:
lista = [5, 6, 7, 2, 3, 4, 7]
pos = lista.index(5)
print(pos)

0

In [ ]:
array1 = [1, 2, 3]
array2 = [3, 4, 5]
soma = array1 + array2
print(soma)

[1, 2, 3, 3, 4, 5]

In [ ]:
array1 = [1, 2, 3]
mult = array1 * 3
print(mult)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
numeros = ['um', 'dois', 'tres']
x,y,_ = numeros
print(x)
print(y)

um
dois

In [ ]:
cores = ['azul', 'preto', 'amarelo']
for cor in cores:
  print(cor)

azul
preto
amarelo

In [ ]:
cores = ['azul', 'preto', 'amarelo']
for i in (range(0, len(cores))):
  print(cores[i])

azul
preto
amarelo

In [ ]:
cores = ['azul', 'preto', 'amarelo']
indice = 0
while indice < len(cores):
  print(cores[indice])
  indice += 1

azul
preto
amarelo

In [ ]:
lista = [[1,2,3],[4,5,6]]
primeira_lista = lista[0]
segunda_lista = lista[1]
print(primeira_lista)
print(segunda_lista)
primeiro_elemento_primeira_lista = lista[0][0]
print(primeiro_elemento_primeira_lista)
segundo_elemento_segunda_lista = lista[1][1]
print(segundo_elemento_segunda_lista)

[1, 2, 3]
[4, 5, 6]
1
5

# Set

In [ ]:
lista_set = {}
lista2_set = {1,2,3}
lista3_set = set({1,2,3})
print(lista_set)
print(lista2_set)
print(lista3_set)

{}
{1, 2, 3}
{1, 2, 3}

In [ ]:
lista2_set = {1,2,3}
lista2_set[0]

In [ ]:
lista2_set = {1,2,3}
lista2_set[0] = 2

In [ ]:
lista_set = {1,2,3}
lista_set.add(5)
print(lista_set)
lista_set.remove(1)
print(lista_set)

{1, 2, 3, 5}
{2, 3, 5}

In [ ]:
lista_set = {1,2,2,3}
lista_set.add(1)
print(lista_set)

{1, 2, 3}

In [ ]:
lista_set = {1,2,3,4}
lista_set.clear()
print(lista_set)

set()

In [ ]:
lista_set = {1,2,3,4}
print(len(lista_set))

4

In [ ]:
lista_set = {1,2,3,4}
print(5 in lista_set)

False

In [ ]:
lista_set = {0,2,3,"4", False, 3.45}
for item in lista_set:
  print(item)

0
2
3
3.45
4

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4}

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5,6}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4, 5, 6}

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_inser = set1.intersection(set2)
print(set_inser)

{1, 2, 3}

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_dif = set2.difference(set1)
print(set_dif)

{4}

# Tuple

In [ ]:
#doces = tuple(('chocolate', 'bombom', 'paçoca'))
doces = ('chocolate', 'bombom', 'paçoca')
print(doces)

('chocolate', 'bombom', 'paçoca')

In [ ]:
nums = ('1','2','3')
print(len(nums))

3

In [ ]:
nums = ('1','2','3')
print(nums[2])

3

In [ ]:
nums = (1,2,3,4,5,6,7,8)
sub_tupla = nums[2:4]
print(sub_tupla)

(3, 4)

In [ ]:
nums = (1,2,3,4,5,6,7,8)
print(9 in nums)

False

In [ ]:
tupla = tuple((20,10,40))
tupla[0] = 20

In [ ]:
tupla = (6,7,8,9,10,6,6)
print(tupla.count(6))

3

In [ ]:
tupla = (5,'3', True, 7234)
pos = tupla.index('3')
print(pos)

1

In [ ]:
tupla = (5,'3', True, 7234)
for x in tupla:
  print(x)

5
3
True
7234

In [ ]:
tupla = (5,'3', True, 7234)
for i in range(0, len(tupla)):
  print(tupla[i])

5
3
True
7234

In [ ]:
tupla = (5,'3', True, 7234)
indice = 0
while (indice < len(tupla)):
  print(tupla[indice])
  indice +=1

5
3
True
7234

In [ ]:
numeros_set = (1,2,3)
numeros_lista = list(numeros_set)
numeros_lista[0] = 12
numeros_lista.append("Fim")
numeros_set = tuple(numeros_lista)
print(numeros_set)

(12, 2, 3, 'Fim')

# Dictionaries

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':"indefenido" }
print(idades)

{'Ana': 10, 'maria': 20, 'joao': 34, 'fernando': 'indefenido'}

In [ ]:
nome_numeros = { 7.1:'sete virgula um', 9.8:'nove virgula oito', 10.43:'dez virgula quarenta e tres'}
print(nome_numeros)

{7.1: 'sete virgula um', 9.8: 'nove virgula oito', 10.43: 'dez virgula quarenta e tres'}

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':'indefenido' }
print(idades['maria'])
print(idades['fernando'])

idades.get('fernando')

20
indefenido

'indefenido'

In [ ]:
nome_numeros = {
    7.1:'sete virgula um',
    9.8:'nove virgula oito',
    10.43:'dez virgula quarenta e tres'}

print(nome_numeros[7.1])
print(nome_numeros.get(10.43))

sete virgula um
dez virgula quarenta e tres

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':'indefenido' }
print('Ana' in idades)
print('roberto' not in idades)

True
True

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':'indefenido' }
idades['maria'] = 30
idades.update({'joao':40})
print(idades)

{'Ana': 10, 'maria': 30, 'joao': 40, 'fernando': 'indefenido'}

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':'indefenido' }
idades['marcos'] = 90
idades.pop('Ana')
print(idades)
idades.popitem()
print(idades)

{'maria': 20, 'joao': 34, 'fernando': 'indefenido', 'marcos': 90}
{'maria': 20, 'joao': 34, 'fernando': 'indefenido'}

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':'indefenido' }
lista = idades.items()
print(lista, end='\n\n')
for item in lista:
  print(item[0], item[1])

dict_items([('Ana', 10), ('maria', 20), ('joao', 34), ('fernando', 'indefenido')])

Ana 10
maria 20
joao 34
fernando indefenido

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':'indefenido' }
chaves = idades.keys()
valores = idades.values()
for item in chaves:
  print(item)
print("-------------------")
for item in valores:
  print(item)

Ana
maria
joao
fernando
-------------------
10
20
34
indefenido

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':20 }
lista_nome = list(idades.values())
pessoa_com_20_anos = lista_nome.count(20)
print(pessoa_com_20_anos)

2

In [ ]:
idades = {'Ana':10 , 'maria':20, 'joao':34, 'fernando':'indefenido' }
idades.clear()
print(idades)

{}

In [ ]:
dados_maria = {
    'sexo': 'feminino',
    'cpf': '12345678910',
    'rg': '1948755'
}

dados_joao = {
    'sexo': 'masculino',
    'cpf': '12345678745',
    'rg': '82626583'
}

dados_ana = {
    'sexo': 'feminino',
    'cpf': '15555526516',
    'rg': '84153151'
}

dados_por_nome = {
    'ana':dados_ana,
    'maria':dados_maria,
    'joao':dados_joao
}

print(dados_por_nome['joao']['sexo'])

masculino

In [ ]:
dados_por_nome = {
    'ana': {
        'sexo': 'feminino',
        'cpf': '15555526516',
        'rg': '84153151'
    },
    'maria': {
        'sexo': 'feminino',
        'cpf': '12345678910',
        'rg': '1948755'
    },
    'joao': {
        'sexo': 'masculino',
        'cpf': '12345678745',
        'rg': '82626583'
    }
}

print(dados_por_nome['ana']['rg'])

84153151

In [ ]:
lista = [x for x in range(0,10)]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lista = ['1', 'zero', 'Quatro']
lista = [x for x in lista]
print(lista)

['1', 'zero', 'Quatro']

In [ ]:
lista = [x for x in range(1,11) if x % 2 == 0]
print(lista)

[2, 4, 6, 8, 10]

In [ ]:
lista_aux = [1,5,9]
lista = [x for x in range(1,11) if x not in lista_aux]
print(lista)

[2, 3, 4, 6, 7, 8, 10]

In [ ]:
lista = [x for x in range(-10, 20) if x  <= 10 if x >= 0]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista = [x*2 for x in range(0,11)]
print(lista)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
lista = [str(x)[0] for x in range(0,21)]
print(lista)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2']

In [ ]:
lista = ['negativo' if x < 0 else 'positivo' for x in range(-3,4)]
print(lista)

['negativo', 'negativo', 'negativo', 'positivo', 'positivo', 'positivo', 'positivo']

In [ ]:
lista = [str(x) + ' par' if x % 2 == 0 else str(x) + ' impar' for x in range(2,11)]
print(lista)

['2 par', '3 impar', '4 par', '5 impar', '6 par', '7 impar', '8 par', '9 impar', '10 par']

In [ ]:
lista = [1,2,3,4,5,6,7,8,9]
lista = list(filter(lambda x: x % 2 == 0, lista))
print(lista)

[2, 4, 6, 8]

In [ ]:
lista = [ [x for x in range(1,5)] for y in range(1,5)]
print(lista)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [ ]:
lista = [[str(x) + str(y) for x in range(1,5)] for y in range(1,5)]
lista

[['11', '21', '31', '41'],
 ['12', '22', '32', '42'],
 ['13', '23', '33', '43'],
 ['14', '24', '34', '44']]

In [ ]:
[[str(x) + ' * ' + str(y) + ' = ' + str(x*y) for x in range(1,6)] for y in range(1,11)]

[['1 * 1 = 1', '2 * 1 = 2', '3 * 1 = 3', '4 * 1 = 4', '5 * 1 = 5'],
 ['1 * 2 = 2', '2 * 2 = 4', '3 * 2 = 6', '4 * 2 = 8', '5 * 2 = 10'],
 ['1 * 3 = 3', '2 * 3 = 6', '3 * 3 = 9', '4 * 3 = 12', '5 * 3 = 15'],
 ['1 * 4 = 4', '2 * 4 = 8', '3 * 4 = 12', '4 * 4 = 16', '5 * 4 = 20'],
 ['1 * 5 = 5', '2 * 5 = 10', '3 * 5 = 15', '4 * 5 = 20', '5 * 5 = 25'],
 ['1 * 6 = 6', '2 * 6 = 12', '3 * 6 = 18', '4 * 6 = 24', '5 * 6 = 30'],
 ['1 * 7 = 7', '2 * 7 = 14', '3 * 7 = 21', '4 * 7 = 28', '5 * 7 = 35'],
 ['1 * 8 = 8', '2 * 8 = 16', '3 * 8 = 24', '4 * 8 = 32', '5 * 8 = 40'],
 ['1 * 9 = 9', '2 * 9 = 18', '3 * 9 = 27', '4 * 9 = 36', '5 * 9 = 45'],
 ['1 * 10 = 10', '2 * 10 = 20', '3 * 10 = 30', '4 * 10 = 40', '5 * 10 = 50']]

## Atividades - Parte 1

In [ ]:
#1 - Crie uma lista com os seguintes números 1,10,6,7,8,10. Em seguida printe a
# soma destes números.

In [ ]:
lista = [1,10,6,7,8,10]
total = 0

for i in range(0, len(lista)):
  total += lista[i]
  i+=1

print(total)

42

In [ ]:
#2 - Cria uma lista e preencha ela com valores de 1 a 100. Em seguida printe esses
# valores.

In [ ]:
lista = []
for i in range(1,101):
  lista.append(i)
  i+=1

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#3 - Crie duas listas com os seguintes valores 30,4,43,52,65,-10 e
# 43,2,4,76,32,65,3. Agora faça a junção dessas listas, mas se houverem valores
# repetidos entre ambas eles não podem repetir na lista unida.

In [ ]:
lista = {30,4,43,52,65,-10}
lista2 = {43,2,4,76,32,65,3}
lista_unida = lista.union(lista2)
print(lista_unida)

{32, 65, 2, 3, 4, 43, 76, 52, -10, 30}

In [ ]:
#4 - Crie uma lista contendo o nome de todos os meses do ano. Em seguida receba
# por input o mês (número) em que você nasceu e mostre qual o nome do mês que
# você nasceu.

In [3]:
mes_nome = {
    1:'janeiro',
    2:'fevereiro',
    3:'março',
    4:'abril',
    5:'maio',
    6:'junho',
    7:'julho',
    8:'agosto',
    9:'setembro',
    10:'outubro',
    11:'novembro',
    12:'dezembro'
}

mes_user_num = int(input("Digite o número de seu mês: "))
print(f"Você nasceu em {mes_nome.get(mes_user_num)}")

Digite o número de seu mês: 05
Você nasceu em maio

In [2]:
#5 - Crie uma lista contendo todos dias (número) do mês em que você nasceu. Em
# seguida receba por input o dia (número) em que você nasceu e remova desta
# lista. Ao final mostre o conteúdo da lista.

In [5]:
lista = []
for i in range(1, 31):
  lista.append(i)
  i+=1

dia = int(input("Digite o dia em que voce nasceu: "))
lista.remove(dia)
print(lista)

Digite o dia em que voce nasceu: 5
[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]