<a href="https://colab.research.google.com/github/jeanmcorreia/Python/blob/main/6_Fun%C3%A7%C3%B5es_Builtin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funções Matemáticas

In [ ]:
num1 = -10
num2 = 10
print(abs(num1))
print(abs(num2))
print(abs(num1) + abs(num2))

10
10
20

In [ ]:
maior_valor = max(10,20,30)
print(maior_valor)

30

In [ ]:
lista = [-20,1,2,3,3]
print(max(lista))

3

In [ ]:
lista = [-20,1,2,3,3]
print(min(lista))

-20

In [ ]:
x = 2
y = 3
print(pow(x,y))

8

In [ ]:
import math
print(math.sqrt(25))

5.0

In [ ]:
print(round(2.4566, 1))

2.5

In [ ]:
from math import floor, ceil
print(floor(2.4566))
print(ceil(2.4566))

2
3

In [ ]:
print(divmod(10,4))

(2, 2)

# Caracteres p/ Números e Números p/ Caracteres

In [ ]:
numero = 70
caractere = chr(numero) # -> A função chr retorna o caractere pelo parametro/numero fornecido
print(f"O número {numero} é mapeado para o caractere: {caractere}")

O número 70 é mapeado para o caractere: F

In [ ]:
for i in range(70, 100):
  caractere = chr(i)
  print(f"{i} - {caractere}", end = "\n")

70 - F
71 - G
72 - H
73 - I
74 - J
75 - K
76 - L
77 - M
78 - N
79 - O
80 - P
81 - Q
82 - R
83 - S
84 - T
85 - U
86 - V
87 - W
88 - X
89 - Y
90 - Z
91 - [
92 - \
93 - ]
94 - ^
95 - _
96 - `
97 - a
98 - b
99 - c

In [ ]:
caractere = 'F'
numero = ord(caractere) # -> A função retorna o número do caractere pelo parametro/caractere fornecido
print(f"O caractere {caractere} é mapeado pelo número: {numero}")

O caractere F é mapeado pelo número: 70

# Funções de Texto

In [ ]:
texto = "olá, tuDo bem?"
print(texto.capitalize()) # -> O metódo capitalize() coloca a primeira letra do texto em maiuscula e o resto em minuscula

Olá, tudo bem?

In [ ]:
texto = "IsTo é EstraNHO"
print(texto.lower()) # -> metódo lower() deixa todas letras minusculas do texto
print(texto.upper()) # -> metódo upper() coloca o texto todo em maiuscula
print(texto.swapcase()) # -> metodo swapcase() inverte os casos

isto é estranho
ISTO É ESTRANHO
iStO É eSTRAnho

In [ ]:
texto = "eu sou um ótimo programador python"
print(texto.title()) # -> metodo title() deixa todas as palavras com a primeira letra maiuscula

Eu Sou Um Ótimo Programador Python

In [ ]:
texto = "1234567"
print(texto.center(9)) # -> coloca espaços para centralizar o texto
print(texto.center(14))
print(texto.center(14, '-'))

 1234567
   1234567
---1234567----

In [ ]:
texto = "1234567"
print(texto.rjust(9)) # metodo rjust justifica a direita
print(texto.ljust(9)) # metodo ljust justifica o texto a esquerda

  1234567
1234567

In [ ]:
texto = "1212121212"
print(texto.count("12")) # -> conta as ocorrencias que contém no parametro no texto

5

In [ ]:
texto = "1212121212"
print(texto.startswith("12")) # Verifica se começa com 12
print(texto.endswith("12")) # Verifica se termina com 12

True
True

In [ ]:
texto = "Me encontra 20 10 5"
pos = texto.find("10") # indice da posicao do parametro no texto
print(pos)
pos = texto.find("4")
print(pos)

15
-1

In [ ]:
texto = "Me encontra 20 10 5"
pos = texto.index("10") # indice da posicao do parametro no texto
print(pos)
pos = texto.find("4") # Index não funciona quando não contém o parametro no texto (Gera erro)
print(pos)

15

In [ ]:
texto = "Ol@ eu sou @ ful@n@"
novo_texto = texto.replace("@", "a") # Remove as ocorrencia e substitui pelo parametro fornecido
print(novo_texto)

Ola eu sou a fulana

In [ ]:
texto = '10,20,30'
print(texto.split(",")) # retorna uma lista de substring da string, usando o separador identificado

['10', '20', '30']

In [ ]:
texto = "Olá, bom dia\n este é um curso de Python\n Seja bem vindo"
print(texto.splitlines()) # Retorna uma lista de substrings da string, usando a quebra de linha

['Olá, bom dia', ' este é um curso de Python', ' Seja bem vindo']

In [ ]:
print("abcdE3 ".isalpha()) # Verifica se o texto é alfa

False

In [ ]:
print("abcdE3".isalnum()) # Verifica se o texto é alfanumerico
print("abcdE3,".isalnum())

True
False

In [ ]:
print("123.4".isdecimal()) # Verifica se é um número
print("123".isdecimal())

False
True

In [ ]:
print("123".isspace()) # Verifica se pe um espaço em branco
print(" ".isspace())

False
True

In [ ]:
print("no".islower()) # Verifica se é string minuscula
print("no".isupper()) # Verifica se é string maiuscula

True
False

# Funções de Listas

In [ ]:
lista = [5,10,2,1,5,10]
lista.sort() # Retorna a lista ordenada
print(lista)

[1, 2, 5, 5, 10, 10]

In [ ]:
lista = ['a', 'b', 'x', 'ab', 'c', 'd', 'c']
lista.sort()
print(lista)

['a', 'ab', 'b', 'c', 'c', 'd', 'x']

In [ ]:
lista = [5,10,2,1,5,10]
lista.sort(reverse=True) # Retorna a lista ordenada descrescente
print(lista)

[10, 10, 5, 5, 2, 1]

In [ ]:
def sort_por_tamanho(item):
  return len(item)

lista = ['a', 'abcd', 'b', 'abc', 'ab', 'de']
lista.sort(key=sort_por_tamanho)
print(lista)

['a', 'b', 'ab', 'de', 'abc', 'abcd']

In [ ]:
lista = [5,10,2,1,5,10]
lista.reverse() # Retorna a lista revertida
print(lista)

[10, 5, 1, 2, 10, 5]

In [1]:
produtos = [['carro', 'R$ 100000'],
            ['cadeira', 'R$ 1000'],
            ['moto', 'R$ 40000'],
            ['geladeira', 'R$ 20000'],
            ['armario', 'R$ 1500']]

for produto, valor in produtos:
  print(produto, valor)

carro R$ 100000
cadeira R$ 1000
moto R$ 40000
geladeira R$ 20000
armario 1500

In [2]:
nomes = ('Jose', 'Carlos', 'João')
dicionario = dict.fromkeys(nomes, 10)
print(dicionario)

{'Jose': 10, 'Carlos': 10, 'João': 10}

# Funções de Data e Hora

In [3]:
import datetime

data_completa = datetime.datetime.now()
data = data_completa.date()
hora = data_completa.time()

print(data_completa)
print(data)
print(hora)

2024-12-19 11:57:10.253554
2024-12-19
11:57:10.253554

In [5]:
import datetime
data_completa = datetime.datetime.now()
print(f"Dia: {data_completa.day}")
print(f"Mês: {data_completa.month}")
print(f"Ano: {data_completa.year}")
print(f"Hora: {data_completa.hour}")
print(f"Minuto: {data_completa.minute}")
print(f"Segundo: {data_completa.second}")

Dia: 19
Mês: 12
Ano: 2024
Hora: 12
Minuto: 11
Segundo: 56

In [9]:
import datetime

data = datetime.date(2000, 9, 30)
data = datetime.date(day=30, month=9, year=2000)
print(data)
print(type(data))

2000-09-30
<class 'datetime.date'>

In [10]:
import datetime

hora = datetime.time(10, 20, 54)
print(hora)

10:20:54

In [11]:
import datetime

data = datetime.datetime(2000, 9, 30, 10, 30, 20)
print(data)

2000-09-30 10:30:20

In [13]:
import datetime
# y ano
# m mes
# d dia
# H hora
# M minuto
# S segundo

atual = datetime.datetime.now()
current_time = atual.strftime("%y/%m/%d %H:%M:%S")
print(current_time)
print(type(current_time))

24/12/19 12:33:03
<class 'str'>

In [15]:
import datetime
# y ano
# m mes
# d dia
# H hora formato 00-23
# M minuto
# S segundo

# A dia da semana
# a dia da semana abrev
# B nome do mes
# b nome do mes abrev
# I hora formato 12 horas
# p AM PM

data = datetime.datetime(2000, 9, 30, 18, 30, 20)
print(data.strftime("%A - %a"))
print(data.strftime("%B - %b"))
print(data.strftime("%H - %I"))
print(data.strftime("%I - %p"))

Saturday - Sat
September - Sep
18 - 06
06 - PM