<a href="https://colab.research.google.com/github/jeanmcorreia/Python/blob/main/7_OrientacaoObjetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Teste:
  pass

minha_classe = Teste()
print(type(minha_classe))

<class '__main__.Teste'>

In [ ]:
class NossaClasse:
  def __init__(self):
    print("Eu existo")

var = NossaClasse()
print(type(var))

Eu existo
<class '__main__.NossaClasse'>

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    print(f"Pessoa com nome {nome} e idade {idade} criada")

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Lucas', 21)

print(pessoa1.nome)
print(pessoa2.idade)

Pessoa com nome Rodrigo e idade 34 criada
Pessoa com nome Lucas e idade 21 criada
Rodrigo
21

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    print(f"Pessoa com nome {nome} e idade {idade} criada")

pessoa1 = Pessoa('Rodrigo', 34)

pessoa1.nome = 'Marcelo'
print(pessoa1.nome)

Pessoa com nome Rodrigo e idade 34 criada
Marcelo

In [ ]:
class Pessoa:
  especie = 'Homo Sapiens'
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    print(f"Pessoa com nome {nome} e idade {idade} criada")

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Lucas', 21)

print(pessoa1.especie)
print(pessoa2.especie)

Pessoa com nome Rodrigo e idade 34 criada
Pessoa com nome Lucas e idade 21 criada
Homo Sapiens
Homo Sapiens

In [ ]:
class Pessoa:
  especie = 'Homo Sapiens'
  num_pessoas = 0
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    Pessoa.num_pessoas += 1

pessoa1 = Pessoa('Rodrigo', 34)
print(Pessoa.num_pessoas)
pessoa2 = Pessoa('Lucas', 21)
print(Pessoa.num_pessoas)
pessoa3 = Pessoa('Maria', 22)
print(Pessoa.num_pessoas)

1
2
3

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
  def print_nome(self):
    print(f"Meu nome é {self.nome}")

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Maria', 22)

pessoa1.print_nome()
pessoa2.print_nome()

Meu nome é Rodrigo
Meu nome é Maria

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
  def print_string(self, nome):
    print(f"Meu nome é {nome}")
  def print_nome(self):
    self.print_string(self.nome)

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Maria', 22)

pessoa1.print_nome()
pessoa2.print_nome()

In [ ]:
class Pessoa:
  def __init__(self, nome):
    self.nome = nome
  def insere_idade(self, idade):
    self.idade = idade

rodrigo = Pessoa("Rodrigo")
rodrigo.insere_idade(34)

print(rodrigo.idade)

34

In [ ]:
class Tipo1:
  def __init__(self, outra_classe):
    self.outra = outra_classe

class Tipo2:
  numero = 10

classe2 = Tipo2()
classe1 = Tipo1(classe2)

print(classe1.outra.numero)

10

In [ ]:
class Exemplo:
  def __init__(self):
    pass

lista = []
ex1 = Exemplo
ex2 = Exemplo

lista.append(ex1)
lista.append(ex2)

print(lista[1])

<class '__main__.Exemplo'>

In [ ]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura = altura
    self.largura = largura

class Quadrado(FormaGeometrica):
  pass

class Triagulo(FormaGeometrica):
  pass

quadrado = Quadrado(100, 50)
triangulo = Triagulo(90, 40)

print(quadrado.altura)
print(quadrado.largura)
print(triangulo.altura)
print(triangulo.largura)

100
50
90
40

In [ ]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura = altura
    self.largura = largura

class Quadrado(FormaGeometrica):
  lado = 10

class Triagulo(FormaGeometrica):
  angulo = 30

quadrado = Quadrado(100, 50)
triangulo = Triagulo(90, 40)

print(quadrado.altura)
print(quadrado.largura)
print(quadrado.lado)
print(triangulo.altura)
print(triangulo.largura)
print(triangulo.angulo)

100
50
10
90
40
30

In [ ]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura = altura
    self.largura = largura
  def funcao_herdada(self):
    print("Sou herdado")

class Quadrado(FormaGeometrica):
  pass

class Triagulo(FormaGeometrica):
  pass

quadrado = Quadrado(100, 50)
triangulo = Triagulo(90, 40)
quadrado.funcao_herdada()
triangulo.funcao_herdada()

Sou herdado
Sou herdado

In [ ]:
class ClassePai:
  def __init__(self):
    print("Sou classe pai")

class ClasseFilha1(ClassePai):
  def __init__(self):
    print("Sou classe filha 1")

class ClasseFilha2(ClassePai):
  def __init__(self):
    print("Sou classe filha 2")

pai = ClassePai()
filha1 = ClasseFilha1()
filha2 = ClasseFilha

In [1]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura = altura
    self.largura = largura

class Quadrado(FormaGeometrica):
  def __init__(self, altura, largura, atributo_quadrado):
    FormaGeometrica.__init__(self, altura, largura)
    self.atributo_quadrado = atributo_quadrado

class Triangulo(FormaGeometrica):
  def __init__(self, altura, largura, atributo_triangulo):
    FormaGeometrica.__init__(self, altura, largura)
    self.atributo_triangulo = atributo_triangulo

quadrado = Quadrado(100, 200, 'quadrado')
triangulo = Triangulo(100, 200, 'triangulo')

print(quadrado.altura)
print(quadrado.atributo_quadrado)

print(triangulo.largura)
print(triangulo.atributo_triangulo)

100
quadrado
200
triangulo

In [2]:
class FormaGeometrica:
  def __init__(self, altura, largura):
    self.altura = altura
    self.largura = largura
  def calcula_area(self):
    pass

class Quadrado(FormaGeometrica):
  def calcula_area(self):
    return self.altura * self.largura

class Triangulo(FormaGeometrica):
  def calcula_area(self):
    return (self.altura * self.largura)/2

quadrado = Quadrado(200, 200)
triangulo = Triangulo(200, 200)

print(triangulo.calcula_area())
print(quadrado.calcula_area())

20000.0
40000

In [8]:
class Veiculo:
  def __init__(self, marcha):
    self.marcha = marcha
  def aumenta_marcha(self):
    self.marcha += 1
    self.marcha = min(self.marcha,5)
  def diminui_marcha(self):
    self.marcha -= 1
    self.marcha = min(self.marcha,1)

class Palio(Veiculo):
  def __init__(self, marcha):
    Veiculo.__init__(self, marcha)

class EcoSport(Veiculo):
  def __init__(self, marcha):
    Veiculo.__init__(self, marcha)

  def aumenta_marcha(self):
    self.marcha += 1
    self.marcha = min(self.marcha,6)


carro = EcoSport(5)
carro.diminui_marcha()
print(carro.marcha)
carro.aumenta_marcha()
print(carro.marcha)

1
2