<a href="https://colab.research.google.com/github/jeanmcorreia/Python/blob/main/7_OrientacaoObjetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Teste:
  pass

minha_classe = Teste()
print(type(minha_classe))

<class '__main__.Teste'>

In [ ]:
class NossaClasse:
  def __init__(self):
    print("Eu existo")

var = NossaClasse()
print(type(var))

Eu existo
<class '__main__.NossaClasse'>

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    print(f"Pessoa com nome {nome} e idade {idade} criada")

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Lucas', 21)

print(pessoa1.nome)
print(pessoa2.idade)

Pessoa com nome Rodrigo e idade 34 criada
Pessoa com nome Lucas e idade 21 criada
Rodrigo
21

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    print(f"Pessoa com nome {nome} e idade {idade} criada")

pessoa1 = Pessoa('Rodrigo', 34)

pessoa1.nome = 'Marcelo'
print(pessoa1.nome)

Pessoa com nome Rodrigo e idade 34 criada
Marcelo

In [ ]:
class Pessoa:
  especie = 'Homo Sapiens'
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    print(f"Pessoa com nome {nome} e idade {idade} criada")

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Lucas', 21)

print(pessoa1.especie)
print(pessoa2.especie)

Pessoa com nome Rodrigo e idade 34 criada
Pessoa com nome Lucas e idade 21 criada
Homo Sapiens
Homo Sapiens

In [ ]:
class Pessoa:
  especie = 'Homo Sapiens'
  num_pessoas = 0
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
    Pessoa.num_pessoas += 1

pessoa1 = Pessoa('Rodrigo', 34)
print(Pessoa.num_pessoas)
pessoa2 = Pessoa('Lucas', 21)
print(Pessoa.num_pessoas)
pessoa3 = Pessoa('Maria', 22)
print(Pessoa.num_pessoas)

1
2
3

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
  def print_nome(self):
    print(f"Meu nome é {self.nome}")

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Maria', 22)

pessoa1.print_nome()
pessoa2.print_nome()

Meu nome é Rodrigo
Meu nome é Maria

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade
  def print_string(self, nome):
    print(f"Meu nome é {nome}")
  def print_nome(self):
    self.print_string(self.nome)

pessoa1 = Pessoa('Rodrigo', 34)
pessoa2 = Pessoa('Maria', 22)

pessoa1.print_nome()
pessoa2.print_nome()

In [1]:
class Pessoa:
  def __init__(self, nome):
    self.nome = nome
  def insere_idade(self, idade):
    self.idade = idade

rodrigo = Pessoa("Rodrigo")
rodrigo.insere_idade(34)

print(rodrigo.idade)

34